<% include ./partials/header %>


<div class="homePage">
  <div class="container">
      <h1>CAMP IN MACEDONIA</h1>
      <h3>Nature never looked better</h3>
      <hr>
      <a href="/campgrounds" class="btn btn-lg btn-dark">Go to Campgrounds</a>
  </div>
</div>


<% include ./partials/footer %>
