<% include ./partials/header %>


<div class="homePage">
    <h1>Designed for DJ's</h1>
    <h3>Sound never looked better</h3>
    <hr>
    <a href="/campgrounds" class="btn btn-lg btn-info">Go to Campgrounds</a>

</div>


<% include ./partials/footer %>
